<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ.Properties.Settings.ExampleConnectionString"
            connectionString="Data Source=examplecomp1098.database.windows.net;Initial Catalog=Example;Persist Security Info=True;User ID=justin;Password="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>